$primary-color:#AAA3A3;
$secondary-color:#000000;
$third-color:#C2C2C2;
$fourth-color:#706767;
$fifth-color:#878383;
$sixth-color:#E5DFDF;
$seventh-color:#808080;
$eight-color:#646464;
$ninth-color:#D3D3D3;
$tenth-color:#282928;
$eleventh-color:#686868;