{% extends 'base.html.twig' %}

{% block main %}


    <form class="connect" action="{{ path('sign-up') }}" method="post">
        <label class="article-text" for="username">Email:</label>
        <input class="connection" type="text" id="username" name="-username" value="{{last_username}}"/>

        <label class="article-text" for="username">Pseudo:</label>
        <input class="connection" type="text" id="username" name="-username" value="{{last_username}}"/>

        <label class="article-text" for="password">Password:</label>
        <input class="connection" type="password" id="password" name="_password"/>

        <label class="article-text" for="password">Retapez votre mot de passe :</label>
        <input class="connection" type="password" id="password" name="_password"/>


        <button class="button-box" type="submit">S'inscrire</button>
    </form>
{% endblock %}