@font-face {
  font-family: "Roboto Regular";
  src: url("/../deep-space/public/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/../deep-space/public/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("/../deep-space/public/assets/fonts/Roboto-Thin.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #AAA3A3;
}

h1 {
  font-size: 6rem;
  color: #E5DFDF;
  text-align: center;
  font-family: "Roboto Bold";
}

h2 {
  font-family: "Roboto Bold";
}

h3 {
  font-family: "Roboto Bold";
  color: #E5DFDF;
}

.toolbar {
  width: 100vw;
  height: 7vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.connect {
  height: 40vh;
  width: 20vw;
  border: solid 1px #D3D3D3;
  border-radius: 10px;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 12px #646464;
  margin-left: auto;
  margin-right: auto;
  background-color: #D3D3D3;
}

.article-title {
  text-align: center;
  margin-top: 5vh;
}

.article-sub {
  color: #000000;
  margin-top: 3vh;
}

.article-text {
  font-family: "Roboto Thin";
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-family: "Roboto Bold";
  margin-top: 5vh;
  text-align: center;
}

.subtitle {
  margin-top: 3vh;
  font-family: "Roboto Regular";
}

.description {
  margin-top: 5vh;
  font-family: "Roboto Thin";
  padding-bottom: 5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.headline {
  margin-top: 3vh;
  font-size: 2rem;
  font-family: "Roboto Bold";
  color: #000000;
}

.searchbar {
  border-radius: 5px;
}

.pseudo {
  color: white;
  font-family: "Roboto Regular";
}

.connection {
  padding: 3px;
  border-radius: 2px;
}

.btn {
  display: inline-block;
  margin: auto;
  background-color: #706767;
  color: white;
  text-align: center;
}

.button-prehead {
  text-decoration: none;
  margin-top: 5vh;
  padding: 20px;
  font-family: "Roboto Regular";
  background-color: #706767;
  color: #C2C2C2;
  border: #878383 solid 1px;
  border-radius: 8px;
}

.button-prehead:hover {
  background-color: #C2C2C2;
  color: #706767;
}

.chevron:hover {
  margin-left: 10px;
}

.button-box {
  display: inline-block;
  margin-top: 17vh;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Regular";
  background-color: #706767;
  color: #C2C2C2;
  border: #878383 solid 1px;
  border-radius: 8px;
}

.button-boxes {
  display: inline-block;
  margin-top: 4vh;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Regular";
  background-color: #706767;
  color: #C2C2C2;
  border: #878383 solid 1px;
  border-radius: 8px;
}

.button-box:hover {
  background-color: #C2C2C2;
  color: #706767;
}

.button-boxes:hover {
  background-color: #C2C2C2;
  color: #706767;
}

header {
  background-color: #000000;
  width: 100vw;
}

.header-logo {
  height: 75px;
  width: 150px;
}

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

nav {
  position: fixed;
  width: 50vw;
  min-height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111;
  border-left: 1px solid #cfcfcf;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

nav.active {
  transform: translate(0);
}

nav a {
  font-family: Quicksand, sans-serif;
  color: #f1f1f1;
  font-size: 20px;
  display: block;
  margin: 10px 0;
  text-decoration: none;
}

.list {
  width: 30vw;
  height: 70vh;
  text-align: center;
  background-color: #D3D3D3;
  border-radius: 15px;
  margin: auto;
  margin-top: 3vh;
  box-shadow: 8px 8px 12px #646464;
}

.form-group {
  width: 60vw;
  margin: auto;
}

.mono {
  margin: auto;
  margin-top: 5vh;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  background-color: #D3D3D3;
  box-shadow: 8px 8px 12px #646464;
}

.article-img {
  height: 40vh;
  margin-top: 5vh;
  border-radius: 15px;
  box-shadow: 8px 8px 12px #646464;
}

.article-video {
  margin-top: 5vh;
  height: 60vh;
  width: 40vw;
  border-radius: 15px;
  box-shadow: 8px 8px 12px #646464;
}

.list-img {
  height: 17vh;
  margin-top: 5vh;
  box-shadow: 8px 8px 12px #646464;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pre-header {
  width: 100vw;
  height: 90vh;
  background-image: url("/../deep-space/public/assets/img/nebula.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-box h2 {
  margin-top: 5vh;
}

.boxes {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: #E5DFDF;
}

.box {
  background-image: url("/../deep-space/public/assets/img/launch.jpeg");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 45vh;
  border: #000000 solid 1px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 0.5vh;
  box-shadow: 8px 8px 12px #646464;
}

.semi-boxes {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 0.5vh;
}

.second-box {
  background-image: url("/../deep-space/public/assets/img/andromeda.jpeg");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 22vh;
  border: #000000 solid 1px;
  border-radius: 15px;
  margin-bottom: 1vh;
  box-shadow: 8px 8px 12px #646464;
}

.third-box {
  background-image: url("/../deep-space/public/assets/img/telescope.png");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 22vh;
  border: #000000 solid 1px;
  border-radius: 15px;
  margin-top: 1vh;
  box-shadow: 8px 8px 12px #646464;
}

.articles-box {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchtool {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbar {
  text-align: center;
  margin-bottom: 2vh;
  padding: 5px;
}

.comments {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .article-img {
    width: 60%;
    height: 60%;
    margin-top: 5vh;
    border-radius: 15px;
  }
  .list-img {
    height: 30%;
  }
  header {
    width: 100%;
  }
  .pre-header {
    height: 50vh;
  }
  .list {
    height: 70vh;
    width: 80vw;
  }
  .boxes {
    flex-direction: column;
  }
  .semi-boxes {
    margin-top: 1vh;
  }
  .button-box {
    margin-top: 1vh;
  }
  .button-boxes {
    margin-top: 1vh;
  }
  .box {
    background-position: center;
    background-size: cover;
    width: 80vw;
    height: 22vh;
    margin-left: 0.5vh;
  }
  .second-box {
    width: 80vw;
  }
  .third-box {
    width: 80vw;
  }
  .connect {
    width: 60vw;
  }
  .searchbar {
    text-align: center;
    margin-bottom: 2vh;
    padding: 5px;
  }
  .box-title {
    font-size: 1rem;
    padding-top: 0;
  }
}
footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #282928;
  margin-top: 10vh;
}

.footer-logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 3vh;
  height: 75px;
  width: 150px;
  border-right: #C2C2C2 1px solid;
}

.footer-info {
  margin-left: 1vh;
  padding: 3vh;
  flex-direction: column;
  font-family: "Roboto Thin";
  color: #C2C2C2;
}

/*# sourceMappingURL=style.css.map */
