<section class="pre-header">
    <h1>RECHERCHE<br>
    INNOVATION<br>
    EXPLORATION</h1>
    <a class="button-prehead" href="{{ path('agence-page') }}">L' AGENCE <span class="chevron">></span></a>
</section>