{% include ('base.html.twig') %}

{% block title %}
    <title>Projet DS-1</title>
{% endblock %}

{% block main %}

{% include ('preheader.html.twig') %}
    <h2 class="article-title">LE PROJET DEEP SPACE DS-1</h2>
    <article class="mono">
        <h3 class="article-sub">Le futur de l'exploration spatiale !</h3>
        <img class="article-img" src="{{ asset("assets/img/hypersonic.jpeg") }}" alt="hyperplane">
        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius.
            Morbi tempus iaculis urna id volutpat lacus laoreet non. Orci eu lobortis elementum nibh tellus molestie nunc non.
            Orci nulla pellentesque dignissim enim sit amet venenatis urna. Magna eget est lorem ipsum dolor sit amet consectetur.
            Id faucibus nisl tincidunt eget nullam. Semper feugiat nibh sed pulvinar proin gravida.
            Convallis convallis tellus id interdum velit. Ipsum dolor sit amet consectetur adipiscing.
            Nisl tincidunt eget nullam non nisi est sit. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit.</p>
        <h3 class="article-sub">Notre Technologie</h3>
        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius. Morbi tempus iaculis urna id volutpat lacus laoreet non. Orci eu lobortis elementum nibh tellus molestie nunc non. Orci nulla pellentesque dignissim enim sit amet venenatis urna. Magna eget est lorem ipsum dolor sit amet consectetur. Id faucibus nisl tincidunt eget nullam. Semper feugiat nibh sed pulvinar proin gravida. Convallis convallis tellus id interdum velit. Ipsum dolor sit amet consectetur adipiscing. Nisl tincidunt eget nullam non nisi est sit. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit.</p>
        <img class="article-img" src="{{ asset("assets/img/plans.jpeg") }}" alt="plans">
    </article>

{% endblock %}