* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;

}

h1 {
  font-size: 6rem;
  color: $sixth-color;
  text-align: center;
  font-family: "Roboto Bold";
}

h2 {
  font-family: "Roboto Bold";
}

h3 {
  font-family: "Roboto Bold";
  color: $sixth-color;
}

.toolbar {
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.article-title {
  text-align: center;
  margin-top: 5vh;
}

.article-sub {
  color: $secondary-color;
  margin-top: 3vh;
}

.article-text {
  font-family: "Roboto Thin";
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-family: "Roboto Bold";
  margin-top: 5vh;
  text-align: center;
}



.subtitle {
  margin-top: 3vh;
  font-family: "Roboto Regular";
}

.description {
  margin-top: 5vh;
  font-family: "Roboto Thin";
}

.headline {
  margin-top: 3vh;
  font-size: 2rem;
  font-family: "Roboto Bold";
  color: $secondary-color;
}

