.list {
  width: 30vw;
  height: 70vh;
  text-align: center;
  background-color: $ninth-color ;
  border-radius: 15px;
  margin: auto;
  margin-top: 3vh;
  box-shadow: 8px 8px 12px $eight-color
}


.form-group {
  width: 60vw;
  margin: auto;
}

.mono {
  margin: auto;
  margin-top: 5vh;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  background-color: $ninth-color;
  box-shadow: 8px 8px 12px $eight-color;
}

.article-img {
  height: 40vh;
  margin-top: 5vh;
  border-radius: 15px;
  box-shadow: 8px 8px 12px $eight-color;
}

.article-video {
  margin-top: 5vh;
  height: 60vh;
  width: 40vw;
  border-radius: 15px;
  box-shadow: 8px 8px 12px $eight-color;
}

.list-img {
  height: 17vh;
  margin-top: 5vh;
  box-shadow: 8px 8px 12px $eight-color;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pre-header {
  width: 100vw;
  height: 90vh;
  background-image: url("/../deep_space/public/assets/img/nebula.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.presentation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-box h2 {
  margin-top: 5vh;
}

.boxes {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: $sixth-color;
}

.box {
  background-image: url("/../deep_space/public/assets/img/launch.jpeg");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 45vh;
  border: $secondary-color solid 1px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 0.5vh;
  box-shadow: 8px 8px 12px $eight-color;
}

.semi-boxes {

  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 0.5vh;

}
.second-box {
  background-image: url("/../deep_space/public/assets/img/andromeda.jpeg");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 22vh;
  border: $secondary-color solid 1px;
  border-radius: 15px;
  margin-bottom: 1vh;
  box-shadow: 8px 8px 12px $eight-color;

}

.third-box {
  background-image: url("/../deep_space/public/assets/img/telescope.png");
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 22vh;
  border: $secondary-color solid 1px;
  border-radius: 15px;
  margin-top: 1vh;
  box-shadow: 8px 8px 12px $eight-color;
}

.articles-box {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and ( min-width: 320px) and (max-width: 768px){


  h1 {
    font-size: 2rem;
  }

  .article-img {
    width: 60%;
    height: 60%;
    margin-top: 5vh;
    border-radius: 15px;
  }

  .list-img {
    height: 30%;
  }

  header {
    width: 100%;
  }

  .pre-header {
    height: 50vh;
  }

  .list {
    width: 80vw;
    height: 60vh;
  }

  .boxes {
    flex-direction: column;
  }

  .semi-boxes {
    margin-top: 1vh;
  }

  .button-box {
    margin-top: 3vh;
  }

  .button-boxes {
    margin-top: 3vh;
  }

  .box {
    background-position: center;
    background-size: cover;
    width: 80vw;
    height: 22vh;
    margin-left: 0.5vh;
  }

  .second-box {
    width: 80vw;
  }

  .third-box {
    width: 80vw;
  }

}




