footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $tenth-color;
  margin-top: 10vh;
}

.footer-logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 3vh;
  height: 75px;
  width: 150px;
  border-right: $third-color 1px solid;
}

.footer-info {
  margin-left: 1vh;
  padding: 3vh;
  flex-direction: column;
  font-family: "Roboto Thin";
  color: $third-color;
}

